<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../static/homepage.js"></script>
    <style src="./homepage.css"></style>
  </head>
  <body class="body">
    <h1 class="title">Welcome</h1>

    <hr />

    <div class="image-container">
      <input
        type="file"
        id="imageInput"
        style="display: none"
        accept="image/*"
      />
      <button class="btn" onclick="selectImage()">Select image</button>

      <!-- Display the detected image -->
      <img
        id="detectedImage"
        src="#"
        alt="Detected Image"
        style="display: none"
        style="max-width: 500px; max-height: 500px"
      />
    </div>
  </body>
</html>
